In [8]:
lista_like_array = ["a", "e", "i", "o", "u"]

print(lista_like_array)

print(lista_like_array[1:3])

print(lista_like_array[1:])

print(lista_like_array[:4])

lista_like_array.extend()

['a', 'e', 'i', 'o', 'u']
['e', 'i']
['e', 'i', 'o', 'u']
['a', 'e', 'i', 'o']

In [2]:
type(lista_like_array)

list

In [3]:
un_str = "Lorem ipsum"
print(un_str[0])

L

In [43]:
lista1 = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k']
lista2 = ['l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'x', 'y', 'z']

lista1.extend(lista2)

print(lista1)

lista1.insert(14, "ñ")

print(lista1)

lista1.index("f")

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'x', 'y', 'z']
['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'ñ', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'x', 'y', 'z']

5

In [20]:
numeros = [1,2,3,4,4,5,6,7,8,9]
numeros.remove(4)
print(numeros)
numeros.pop(7)
print(numeros)
un_numero = numeros.pop()
print(numeros)
print(un_numero)
numeros.clear()
print(numeros)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 9]
[1, 2, 3, 4, 5, 6, 7]
9
[]

In [45]:
nombres = ["Leidy", "Paola", "Paula", "Angie", "Leidy", "Sofia", "Sofia", "sofia", "Daniela"]

nombres.count("Sofia")

2

In [9]:
ordenar = [4,5,7,8,98,63,5,4,2,1,45,75,8,7,4,5,6,52,1,4,54,75,98,6,3]

ordenar.sort(reverse=True)

print(ordenar)

4 in ordenar

[98, 98, 75, 75, 63, 54, 52, 45, 8, 8, 7, 7, 6, 6, 5, 5, 5, 4, 4, 4, 4, 3, 2, 1, 1]

True

In [4]:
mi_tupla = tuple(ordenar)

print(mi_tupla)

mi_tupla[0]

(98, 98, 75, 75, 63, 54, 52, 45, 8, 8, 7, 7, 6, 6, 5, 5, 5, 4, 4, 4, 4, 3, 2, 1, 1)

98

In [8]:
98 in mi_tupla

True

In [11]:
mi_tupla.count(5)

3

In [12]:
segunda_tupla = 4, "Emmanuel", True

print(segunda_tupla)

(4, 'Emmanuel', True)

In [15]:
años, nombre, masculino = segunda_tupla

print("Nombre:", nombre, "Años:", años, "Masculino:", masculino)

Nombre: Emmanuel Años: 4 Masculino: True

In [26]:
mi_informacion = {
    'Nombres': 'Cristian',
    'Apellidos': 'Ortiz',
    'Casado': True,
    'Hijos': 1,
    'Estudios':[
            {'Nombre': 'Tecnologo en Gestion Logistica', 'Año': 2019},
            {'Nombre': 'Ingenieria Industrial', 'Año': 2021},
            {'Nombre': 'Desarrollo Full Stack', 'Año': 2022}
        ]
}

In [27]:
print(mi_informacion)

{'Nombres': 'Cristian', 'Apellidos': 'Ortiz', 'Casado': True, 'Hijos': 1, 'Estudios': [{'Nombre': 'Tecnologo en Gestion Logistica', 'Año': 2019}, {'Nombre': 'Ingenieria Industrial', 'Año': 2021}, {'Nombre': 'Desarrollo Full Stack', 'Año': 2022}]}

In [28]:
print(mi_informacion['Estudios'])

[{'Nombre': 'Tecnologo en Gestion Logistica', 'Año': 2019}, {'Nombre': 'Ingenieria Industrial', 'Año': 2021}, {'Nombre': 'Desarrollo Full Stack', 'Año': 2022}]

In [32]:
mi_informacion['Edad'] = 30.5

print(mi_informacion)

{'Nombres': 'Cristian', 'Apellidos': 'Ortiz', 'Casado': True, 'Hijos': 1, 'Estudios': [{'Nombre': 'Tecnologo en Gestion Logistica', 'Año': 2019}, {'Nombre': 'Ingenieria Industrial', 'Año': 2021}, {'Nombre': 'Desarrollo Full Stack', 'Año': 2022}], 'Edad': 30.5}

In [46]:
llaves = list(mi_informacion.keys())

print(llaves[0])

Nombres

In [48]:
valores = list(mi_informacion.values())

print(valores[4])

[{'Nombre': 'Tecnologo en Gestion Logistica', 'Año': 2019}, {'Nombre': 'Ingenieria Industrial', 'Año': 2021}, {'Nombre': 'Desarrollo Full Stack', 'Año': 2022}]

In [55]:
items = list(mi_informacion.items())

print(items[len(items)-1])

('Edad', 30.5)

In [1]:
ciudades_dicc = {
    'ciudad1': {
        'nombre': 'santiago',
        'pais': 'Chile'
    },
    'ciudad2': {
        'nombre': 'bogota',
        'pais': 'Colombia'
    },
    'ciudad3': {
        'nombre': 'Sidney',
        'pais': 'Australia'
    }
}


for i in ciudades_dicc:
    print(i)

ciudad1
ciudad2
ciudad3